body, * {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 900;
}

.carousel-item > img {
    height: 83vh;
    object-fit: cover;
}

.carousel-caption > h1{
    font-size: 4rem;
}
.carousel-caption > p{
    font-size: 1.5rem;
}

.carousel-caption {
    top: 40%;
}

.c2{
    top: 70%;
    left: 5%;
}

.carousel-caption.c2 {
    left: -15%;
}

.c2 > h1{
    top: 50%;
}

.c3{
    top: 52%;
}

.navbarCont {
    height: 17vh;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 999;
    background: white;
}

.logoIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    cursor: pointer;
}

.logoIcon > h2 {
    font-weight: bolder;
    margin-top: 1rem;
    padding-left: 5px;
}

.logoIcon > img {
    width: 60px;
}

.logoIcon2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    cursor: pointer;
}

.logoIcon2 > h2 {
    font-weight: bolder;
    margin-top: 1rem;
    padding-left: 5px;
}

.logoIcon2 > img {
    width: 60px;
}

.topRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.searchInput > input {
    width: 20vw;
    height: 40px;
    border: none;
    border-radius: 0;
    padding-left: 5px;
}

input[type=text]:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;;
  }

.desk {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBtn{
    height: 40px;
    width: 40px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.inputBtnCont{
    display: flex;
    flex: row;
    margin-top: .5rem;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;;
}

.inputBtnCont:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;;
}

.searchBtn > span {
    display: flex;
    align-items: center;

}

.cartCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.cartCont > span {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomRow {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-evenly;
   
}

.bottomRow > div {
    margin-top: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.bottomRow > div:hover {
    color: red;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    
}

.singPost {
    height: 50vh;
    background: white;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pageTitle {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.pageTitle > h1 {
    border-bottom: 3px solid red;
}

.cardImg {
    height: 37vh;
    width: 100%;
    overflow: hidden;
}

.cardImg > img {
    overflow: hidden;
    object-fit: contain;
    height: 37vh;
    width: 100%;
}

.productCard {
    cursor: pointer;
}

.singPost:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.cartI:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.toTop {
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 45px;
    height: 45px;
    background: red;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toTop:hover{
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.previewInfo > h5 {
    font-weight: bold;
}

.itemContainer{
    height: 100%;
    width: 70vw;
    margin: auto;
    background: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    padding: 0.5rem;
}

.itemContainer > span {
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
}

.itemContainer > span:hover {
    opacity: 80%;
}

.quantityBtn {
    color: white;
    width: 10vw;
    background: red;
    padding: 5px;
    font-size: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    text-align: center;
}

.quantityBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.quantityBtn > div {
    display: flex;
    justify-content: space-around;
}

.addToCart {
    color: white;
    width: 10vw;
    background: red;
    cursor: pointer;
    padding: 5px;
    font-size: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    text-align: center;
}

.addToCart:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.addToCart > div {
    display: flex;
    justify-content: space-around;
}

#selectQty {
    border: none;
    background: red;
    color: white;
    cursor: pointer;
    outline: none;
    width: 40%;
    text-align: center;
    position: relative;
    display: block;
    max-width: 320px;
    float: right;
    color: white;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}
  
#selectQty:after {
    content: '<>';
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
  }

  .btnRow {
      display: flex;
      justify-content: space-evenly;
  }

  .cartI {
      width: 30vw;
      height: 100%;
      background: white;
      margin: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .prevCart {
    text-align: center;
  }

  .incBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    color: white;
    width: 3vw;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  }

  .incBtns:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  }

  .qtyView {
    padding: 5px 15px;
  }

  .updateBtn {
    padding: 5px;
    background: red;
    color: white;
    width: 10vw;
    text-align: center;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  }

  .updateBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  }

  .del{
    cursor: pointer;
    font-size: 1.5rem;
  }

  .del:hover {
    opacity: 80%;
  }

  .wrapper {
    width: 450px;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper .input-data {
    height: 5vh;
    width: 100%;
    position: relative;
    margin: 1rem;
  }

  .wrapper .input-data label {
    position: absolute;
    bottom: 2px;
    left: 5px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 1rem;
  }


  .input-data input:focus ~ label{
    transform: translateY(-20px);
    background: white;
    color: red;
    font-size: 0.3rem;
  }

  .wrapper .input-data textarea {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;;
    outline: none;
    border: none;
  }

  .input-data textarea:valid ~ label,
  .input-data textarea:focus ~ label{
    transform: translateY(-20px);
    background: white;
    color: red;
  }

  .input-data textarea:focus {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;;
  }

  input[type=checkbox] {
    position: relative;
      cursor: pointer;
      background: white;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

  .fcontainer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100vw;
    padding: 0.5rem;
  }

  .orderBtn {
    padding: 5px;
    background: red;
    border: none;
    color: white;
    width: 10vw;
    text-align: center;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    margin-top: 1rem;
  }

  .container2 {
    height: 80vh;
  }

  .orderBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  }

  .modall ~ .carousel {
    opacity: 40%;
  }

  .modall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 40vw;
    position: absolute;
    left: 41%;
    top: 60%; 
    margin-left: -150px;
    margin-top: -150px;
    background: white;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  }

  .modall:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  }

  .modall > h3 {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .modall > div > button {
      margin-top: 0;
  }

  .modall > p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 5px;
    text-align: center;
  }

  input:-internal-autofill-selected {
      -webkit-appearance: none;
      background-color: white;
  }
/* mobile devices */

@media screen and (max-width: 470px) {
    .modall {
        top: 50%;
        width: 80vw;
        left: 46%;
    }

    .orderBtn{
        width: 30vw;
    }

    .input-data {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;;
    }

    .input-data textarea:focus {
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;;
      }

    .wrapper {
        width: 300px;
    }

    .updateBtn {
        width: 20vw;
        font-size: larger;
    }
    .incBtns {
        width: 10vw;
    }

    #selectQty {
        -webkit-appearance: none;
    }
    
    .btnRow {
        justify-content: space-between;
    }

    .quantityBtn {
        width: 30vw;
    }

    .addToCart{
        width: 30vw;
    }

    .itemContainer {
        width: 90vw;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height: 100%;
    }

    #home {
        display: none;
    }

    .singPost {
        display: flex;
        justify-content: center;
    }

    .cartItem {
        width: 85vw;
    }

    .singPost {
        height: 50vh;
        width: 85vw;
        background: white;
        margin: 1rem;
        box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    }

    .cartI {
        height: 100%;
        width: 85vw;
        background: white;
        margin: 1rem;
        box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    }

    .carousel-caption.c2 {
        left: 15%
    }

    .inputBtnCont{
        margin-right: 1.3rem;
    }
    .navbarCont {
        height: 15vh;
    }
    .logoIcon > img {
        width: 45px;
    }

    .logoIcon > h2 {
        display: none;
    }

    .logoIcon2 > img {
        width: 45px;
    }

    .searchInput > input {
        width: 45vw;
    }
    .carousel-item > img {
        height: 85vh;
      
    }
    .carousel-caption {
        top: 35%;
    }
    .carousel-caption > h1{
        font-size: 3rem;
    }

    .carousel-caption > p{
        font-size: 1rem;
    }
    .c2 {
        top: 45%;
    }
    .c3{
        top: 30%;
    }
    .bottomRow {
        align-items: unset;
    }
}

/* SE and smaller */

@media screen and (max-width: 330px) {
    .modall {
        left: 57%;
        top: 55%;
    }
    .wrapper .input-data {
        height: 6vh;
      }

    .container2 {
        height: 110vh;
    }

    .singPost {
        height: 55vh;
    }
    .cartI {
        height: 85vh;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .carousel-caption {
        top: 20%;
    }
    .c2 {
        top: 30%;
    }
    .c3{
        top: 25%;
    }

    .navbarCont {
        height: 20vh;
    }

    .inputBtnCont {
        margin-right: 0.5rem;
    }
}

@media screen and (orientation: portrait) and (min-height: 665px) and (max-height: 670px) {
    .navbarCont {
        height: 17vh;
    }
}

@media screen and (min-width: 1500px) {
    .navbarCont {
        height: 15vh;
    }
    .bottomRow{
        align-items: center;
    }
    .carousel-item > img {
        height: 85vh;
        object-fit: cover;
    }
}

@media screen and (orientation: portrait) and (min-height: 1000px) {
    .singPost {
        width: 40vw;
        height: 35vh;
    }
    .cartI {
        width: 40vw;
        height: 35vh;
    }
    .bottomRow{
        height: 5rem;

    }

    .navbarCont {
        height: 14vh;
    }

    .carousel-item > img {
        height: 86vh;
    }

    .cardImg > img {
        height: 25vh;
    }
    .cardImg {
        height: 25vh;
    }
}

@media screen and (orientation: portrait) and (min-height: 1300px) {
    .singPost {
        width: unset;
        height: 30vh;
    }

    .cartI {
        width: unset;
        height: 30vh;
    }

    .bottomRow{
        height: 5rem;
        align-items: center;
    }

    .navbarCont {
        height: 12vh;
    }

    .carousel-item > img {
        height: 88vh;
    }
    .cardImg > img {
        height: 20vh;
        margin-bottom: 1rem;
    }
    .cardImg {
        height: 20vh;
        margin-bottom: 1rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 330px) {
    .carousel-caption > h1{
        font-size: 2rem;
    }
    .carousel-caption > p{
        font-size: 1rem;
    }

    .c2 {
        top: 50%
    }

    .c3 {
        top: 30%;
    }

    .wrapper .input-data {
        height: 13vh;
    }

    .fcontainer {
        display: none;
    }
    .modall {
        width: 75vw;
    }

    #d {
        width: 5vw;    
    }

    #i {
        width: 5vw;
    }

    .singPost {
        width: 75vw;
        height: 75vh;
    }

    .cartI {
        width: 60vw;
    }

    .orderBtn {
        width: 30vw;
    }

    .navbarCont {
        height: 40vh;
    }

    .btnRow > .quantityBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20vw;
    }

    .btnRow > .addToCart {
        width: 20vw;
    }
}

@media screen and (min-width: 1400px) {
    .wrapper .input-data label{
        bottom: 20px;
    }
}